<a id="top-header"></a>
<h1>Frequently Asked Questions - FAQ</h1>
<hr>
<nav>
    <span><strong>Go to:  </strong></span>
    <a href="#profile">
        <img src="ADD PICTURE" alt="Profile FAQ" title="Profile FAQ" height="50">
    </a>
    <span><strong> | </strong></span>
    <a href="#promote">
        <img src="ADD PICTURE" alt="Promote FAQ" title="Promote FAQ" height="50">
    </a>
    <span><strong> | </strong></span>
    <a href="#post">
        <img src="ADD PICTURE" alt="Post FAQ" title="Post FAQ" height="50">
    </a>
</nav>
<hr>
<!-- ------------------------------------------------------- Profit Accordeon --------------------------------------------- -->
<h2>Profit</h2>
<div class="accordion" id="accordionProfit">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How much money I will made?
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionProfit">
            <div class="card-body">
                For each post unlock, You receive 1 lev. Each post can be unlocked many times. <br> <strong>EXAMPLE: You share 1 post and 100 people unlock it once. You receive BGN 100 lv.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How much money i must have to take my money?
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProfit">
            <div class="card-body">
                You must have at least BNG 100lv balance to make a transaction in your bank account. <br> <strong>EXAMPLE: Your balance is : BGN 195 lv. You can make transaction in your bank account in the range from 100lv - 195lv.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How much money i can make?
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionProfit">
            <div class="card-body">
                The profit has no limit. You can make as much as you want. If you promote your posts good and upload post regualy you can make hundreds or tousents. <br> <strong>EXAMPLE: If you make 1 post every day and promote it in your social media, stories, friends, groups, pages e.t. And you have around 50 unlocks a day. In the end of the month you will have balance: BGN 1500 lv.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Can i make only one post and make money?
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionProfit">
            <div class="card-body">
                Yes you can. You can promote only one post and make money from it. <br> <strong>EXAMPLE: If you make 1 post and you have 1000 unlocks for the next 24 hours. Your profit for the day will be BGN 1000 lv for 24 hours.</strong>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- ------------------------------------------------------- Profile Accordeon --------------------------------------------- -->
<a id="profile"></a>
<h2>Profile</h2>
<div class="accordion" id="accordionProfile">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOneProfile" aria-expanded="true" aria-controls="collapseOne">
                    How to make my profile more attractive?
                </button>
            </h2>
        </div>
        <div id="collapseOneProfile" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionProfile">
            <div class="card-body">
                HINT 1: Fill up all the information about you. The more people know you the more they have interest to unlock your pictures.
                <br> HINT 2: Add HD pictures. People are more likely to pay and return in your profile if there are unique and HD pictures.
                <br> HINT 3: Be kind and positive in your post titles and description. People are more likely to check your profile and posts if you have positive thinking.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoProfile" aria-expanded="false" aria-controls="collapseTwo">
                    Can i delete my profile and take the balance if its under BGN 100 lv?
                </button>
            </h2>
        </div>
        <div id="collapseTwoProfile" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProfile">
            <div class="card-body">
                Yes you can delete your profile but you CANNOT take your balance if its under BGN 100 lv. The balance stay for the owners. <br> <strong>EXAMPLE: Your balance is : BGN 195 lv. You can make transaction in your bank account in the range from 100lv - 195lv.</strong>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- ------------------------------------------------------- Promote Accordeon --------------------------------------------- -->
<a id="promote"></a>
<h3>Promote</h3>
<div class="accordion" id="accordionPromote">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOnePromote" aria-expanded="true" aria-controls="collapseOne">
                    How to promote my profile and posts?
                </button>
            </h2>
        </div>
        <div id="collapseOnePromote" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPromote">
            <div class="card-body">
                The best way to promote your profile and posts is to be active in your social media. <br> <strong>EXAMPLE: Download your edited post picture. Upload it in all your social media and leave links to it.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoPromote" aria-expanded="false" aria-controls="collapseTwo">
                    How much money i must have to take my money?
                </button>
            </h2>
        </div>
        <div id="collapseTwoPromote" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPromote">
            <div class="card-body">
                You must have at least BNG 100lv balance to make a transaction in your bank account. <br> <strong>EXAMPLE: Your balance is : BGN 195 lv. You can make transaction in your bank account in the range from 100lv - 195lv.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreePromote" aria-expanded="false" aria-controls="collapseThree">
                    How much money i can make?
                </button>
            </h2>
        </div>
        <div id="collapseThreePromote" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPromote">
            <div class="card-body">
                The profit has no limit. You can make as much as you want. If you promote your posts good and upload post regualy you can make hundreds or tousents. <br> <strong>EXAMPLE: If you make 1 post every day and promote it in your social media, stories, friends, groups, pages e.t. And you have around 50 unlocks a day. In the end of the month you will have balance: BGN 1500 lv.</strong>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- ------------------------------------------------------- Post Accordeon --------------------------------------------- -->
<a id="post"></a>
<h4>Post</h4>
<div class="accordion" id="accordionPost">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOnePost" aria-expanded="true" aria-controls="collapseOne">
                    How to make good posts?
                </button>
            </h2>
        </div>
        <div id="collapseOnePost" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPost">
            <div class="card-body">
                The best way to promote your profile and posts is to be active in your social media. <br> <strong>EXAMPLE: Download your edited post picture. Upload it in all your social media and leave links to it.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwoPost" aria-expanded="false" aria-controls="collapseTwo">
                    How much money i must have to take my money?
                </button>
            </h2>
        </div>
        <div id="collapseTwoPost" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPost">
            <div class="card-body">
                You must have at least BNG 100lv balance to make a transaction in your bank account. <br> <strong>EXAMPLE: Your balance is : BGN 195 lv. You can make transaction in your bank account in the range from 100lv - 195lv.</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThreePost" aria-expanded="false" aria-controls="collapseThree">
                    How much money i can make?
                </button>
            </h2>
        </div>
        <div id="collapseThreePost" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPost">
            <div class="card-body">
                The profit has no limit. You can make as much as you want. If you promote your posts good and upload post regualy you can make hundreds or tousents. <br> <strong>EXAMPLE: If you make 1 post every day and promote it in your social media, stories, friends, groups, pages e.t. And you have around 50 unlocks a day. In the end of the month you will have balance: BGN 1500 lv.</strong>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- ------------------------------------------------------- Email post form for user Questions --------------------------------------------- -->
<div class="col-md-2 offset-md-1">
    <form method="post" asp-action="SendToEmail">
        <button class="btn btn-warning">Send Question &#10068</button>
    </form>
</div>
<hr>
<nav>
    <span><strong>Go to: </strong></span>
    <a href="#top-header">
        <img src="images/gototop.png" alt="Top" title="Go to top" height="50">
    </a>
</nav>
