
<p>Image to use:</p>

<img id="pictureForEdit" width="220" height="277"
     src="pic_the_scream.jpg" alt="The Scream">


<canvas id="myCanvas" width="240" height="297"
        style="border:1px solid #d3d3d3;">
</canvas>


@section Scripts {
    <script>

        window.onload = function () {
            var canvas = document.getElementById("myCanvas");
            var ctx = canvas.getContext("2d");
            var img = document.getElementById("pictureForEdit");
            ctx.drawImage(img, 10, 10);
        };

        var canvas;

        function setup() {
            canvas = createCanvas(400, 400);
            canvas.posituin(0, 0);

        }

        function draw() {
            background(0);
        }
    </script>
}